# Curso de Python

## ¿Qué es Python?

Python es un lenguaje de programación
- Interpretado
- Multiparadigma
- Tipado dinámico
- Sintaxis de código legible
- Multi plataforma

## ¿Por qué aprender Python?

- Curva de aprendizaje baja
- Reglas de sintaxis simples
- Útil para mcuhas ocaciones

# Variables

In [2]:
# Variable de string
string = "Hola soy un string"
print(string)

Hola soy un string

In [3]:
# Cambiando el valor de la variable string
string = "Hola estoy cambiando el valor"
print(string)

Hola estoy cambiando el valor

In [4]:
# Asignando valor a 3 variables de una sola sentencia
a, b, c = 1, 2, 3
print(a,b,c)

1 2 3

In [7]:
# Asignando valor a 3 variables de una sola sentencia
a, b, c = 1, 2, 3
print('El valor de las tres variables a, b y c son: ', a,b,c)

El valor de las tres variables a, b y c son:  1 2 3

In [8]:
# del permite eliminar variables
del a, b, c

In [10]:
# Se ve que se ha borrado la variable a
a

NameError: name 'a' is not defined

In [12]:
# Los 3 tipos de datos básicos que se encontraran
string = "Cadena de texto"
integer = 12
float = 3.14

- **str():** Sirve para convertir un número en texto
- **int():** Sirve para convertir un texto en un número

In [13]:
# Como concatenar
concatenar = string + integer + float
print(concatenar)

TypeError: must be str, not int

In [14]:
# Como concatenar, pero convirtiendo con str un entero en texto
concatenar = string + str(integer) + str(float)
print(concatenar)

Cadena de texto123.14

In [15]:
# Como concatenar, pero convirtiendo con str un entero en texto,
# Se parado con especio
concatenar = string +" "+ str(integer) +" "+ str(float)
print(concatenar)

Cadena de texto 12 3.14

In [20]:
# Ejemplo con int()
string = "1"
integer = 1

total = int(string) + integer
print("El total es:",total)

El total es: 2

# Manejar Strings

In [23]:
# Strings
cadena = 'Tutorial \"python"'
print(cadena)

Tutorial "python"

In [44]:
# Indices de la cadena de texto con []
saludo = "Hola Mundo"
print("Extraer un solo caracter:",saludo[3])
print("Extrae un substring:", saludo[0:3]) 
print("Extrae un substring desde la posición indicada hasta el final:",saludo[2:])

Extraer un solo caracter: a
Extrae un substring: Hol
Extrae un substring desde la posición indicada hasta el final: la Mundo
Muestra 3 veces el string seleccionado:  Hola MundoHola MundoHola Mundo

In [48]:
# Concatenar una cadena
print("Muestra 3 veces el string seleccionado: ", saludo * 3)
print("Hola " + "Mundo")
variable = "Hola "
variable += "Mundo "
variable += "Python "
print(variable)

Muestra 3 veces el string seleccionado:  Hola MundoHola MundoHola Mundo
Hola Mundo
Hola Mundo Python

# Operadores aritméticos

In [51]:
# Suma
numero1 = 10
numero2 = 5
total = numero1 + numero2
print("La suma de", numero1, "y", numero2, "es igual a:", total)

La suma de 10 y 5 es igual a: 15

In [52]:
# Resta
numero1 = 10
numero2 = 5
total = numero1 - numero2
print("La resta de", numero1, "y", numero2, "es igual a:", total)

La resta de 10 y 5 es igual a: 5

In [53]:
# Multiplicar
numero1 = 10
numero2 = 5
total = numero1 * numero2
print("La multiplicación de", numero1, "y", numero2, "es igual a:", total)

La multiplicación de 10 y 5 es igual a: 50

In [54]:
# División
numero1 = 10
numero2 = 5
total = numero1 / numero2
print("La división de", numero1, "y", numero2, "es igual a:", total)

La división de 10 y 5 es igual a: 2.0

In [55]:
# Operaciones 
total = 3 + 3 * 3
print(total)

12

In [56]:
# Operaciones 
total = (3 + 3) * 3
print(total)

18

In [58]:
# Cociente de una división //
total = 10//3
print("El cociente es:", total)

El cociente es: 3

In [59]:
# Resto de un división %
total = 10 % 3
print("El resto de una división es:", total)

El resto de una división es: 1

In [60]:
# Potencia **
total = 2**3
print("La potencia de 2 a la 3 es:", total)

La potencia de 2 a la 3 es: 8

In [64]:
# Asignacion acumulada
variable = 10 
variable += 5
variable += 2
print("El valor de la variable es igual a:", variable)

El valor de la variable es igual a: 17

In [63]:
# Asignacion acumulada
variable = 10 
variable -= 5
variable -= 2
print("El valor de la variable es igual a:", variable)

El valor de la variable es igual a: 3

# Arrays: Listas y Tuplas (lists y tuples)

## Listas (lists)

In [69]:
# lists
lista = ["Manuel", 23, "Hola Mundo", 3.14, "Pepito"]
print(lista[2])

Hola Mundo

In [76]:
# lists
lista = ["Manuel", 23, "Hola Mundo", 3.14, "Pepito"]
lista[0] = "Mi casa"
print("Todos los elementos de la lista: ", lista)

Todos los elementos de la lista:  ['Mi casa', 23, 'Hola Mundo', 3.14, 'Pepito']

In [87]:
# Manejo de listas
lista[1:]

[23, 'Hola Mundo', 3.14, 'Pepito']

In [93]:
# Manejo de listas
lista[-1]

'Pepito'

In [95]:
# Concatenar listas
lista1 = ["uno", "dos", "tres"]
lista2 = ["cuatro", "cinco", "seis"]
lista_array = lista1 + lista2 
lista_array

['uno', 'dos', 'tres', 'cuatro', 'cinco', 'seis']

## Tuplas (tuples)

In [75]:
# Tuples
# Las tuplas no pueden ser modificadas
tuples = ("Manuel", "Rosa", "Pepito", 45, 3.14)
print("Todos los elementos de la tupla:",tuples)

Todos los elementos de la tupla: ('Manuel', 'Rosa', 'Pepito', 45, 3.14)

In [79]:
# Extrae el primer elemento de la tupla
tuples[0]

'Manuel'

In [85]:
# Manejo de tuplas
print(tuples[3:5]) # Extrae los elementos de la posición 4 a 5 de la tupla
print(tuples[1:]) # Extrae desde la posición 1 hasta el final

(45, 3.14)
('Rosa', 'Pepito', 45, 3.14)

In [86]:
# Menejo de tuplas
tuples * 2 # Crea una tupla dos veces

('Manuel', 'Rosa', 'Pepito', 45, 3.14, 'Manuel', 'Rosa', 'Pepito', 45, 3.14)

# Diccionario

In [96]:
# Diccionarios
diccionario = {"1":"Jhoan", "2":"Juan", "3":"Kathe"}
diccionario

{'1': 'Jhoan', '2': 'Juan', '3': 'Kathe'}

In [99]:
# Manejando diccionario
diccionario["1"]

'Jhoan'

In [101]:
# Manejando diccionario
print("Las claves del diccionario son:", diccionario.keys())

Las claves del diccionario son: dict_keys(['1', '2', '3'])

In [102]:
# Manejando diccionario
print("Los valores del diccionario son:", diccionario.values())

Los valores del diccionario son: dict_values(['Jhoan', 'Juan', 'Kathe'])

In [105]:
# Manejando diccionario
diccionario1 = {'1': 'Jhoan', '2': 'Juan', 3: 'Kathe'}
print("El diccionario completo es:", diccionario1[3])

El diccionario completo es: Kathe

# Sentencia if y operadores de comparación, lógicos

## Operadores de compraración
- igualdad ==
- distinto !=
- mayor que >
- mayo o igual que >=
- menor que <
- menor o igual que <=

## Operadores logicos
- and: las dos condiciones son ciertas
- or: al menos una de las condiciones ha de ser ciertas
- not: la condicion no es cierta

### Operador membership nos va permitir comprobar valores en strings, lists, tuples
- in: el valor es encontrado
- not in: el valor no es encontrado

In [ ]:
#if(condicion):
#    #Si la condicion es cierta
#else:
#    #Si la condicion no es cierta

In [110]:
# Sentencia if
variable = int(input("Ingrese el valor de variable:"))
if(variable == 1):
    print("La condición se cumple")
else:
    print("La condición no se cumple")

Ingrese el valor de variable:2
La condición no se cumple

In [113]:
# Sentencia if
variable = int(input("Ingrese el valor de variable:"))
if(variable > 3):
    print(variable, "es mayor que 3")
else:
    print(variable, "es menor que 3")

Ingrese el valor de variable:2
2 es menor que 3

In [115]:
# Sentencia if
variable = int(input("Ingrese el valor de variable:"))
if(variable == 1):
    print(variable, "es igual a 1")
else:
    print(variable, "no es igual a 1")

Ingrese el valor de variable:2
2 no es igual a 1

In [120]:
# Sentencia if
variable1 = 2
variable2 = 2
variable3 = 3
variable4 = 4
if(variable1 == variable2):
    print("La condición se cumple")
else:
    print("La condición no se cumple")

La condición se cumple

In [122]:
# Sentencia if
variable1 = 2
variable2 = 2
variable3 = 3
variable4 = 4
if(variable1 == variable2 and variable4 < variable3):
    print("La condición se cumple")
else:
    print("La condición no se cumple")

La condición no se cumple

In [124]:
# lista
lista = ["uno", "dos", "tres"]
if("dos" in lista):
    print("dos se encuentra en la lista")
else:
    print("dos no se encuentra en la lista")

dos no se encuentra en la lista

In [127]:
# lista
lista = ["uno", "dos", "tres"]
if("dos" not in lista):
    print("dos se encuentra en la lista")
else:
    print("dos no se encuentra en la lista")

dos no se encuentra en la lista

# Búcle While

In [128]:
# Manejo de while
inicio = 0
final = 10 
while(inicio < final):
    print(inicio)
    inicio += 1

0
1
2
3
4
5
6
7
8
9

In [129]:
# Manejo de while
inicio = 0
final = 10 
while(inicio < final):
    print(inicio)
    inicio += 1
else:
    print(inicio, "no es menor que", final)

0
1
2
3
4
5
6
7
8
9
10 no es menor que 10

In [133]:
# Romper la iteración en un determinado punto con break
start = 0
end = 10
while(start < end):
    print(start)
    if(start == 5):
        break
    start += 1

0
1
2
3
4
5

In [134]:
# Rocorrer los elementos de una lista o array
index = 0
lista = [0,1,2,3,4,5,6,7,8,9]

while(index < len(lista)):
    print(lista[index])
    index += 1

0
1
2
3
4
5
6
7
8
9

# Búcle for

In [135]:
# range(inicio, final)
for x in range(0, 10):
    print(x)

0
1
2
3
4
5
6
7
8
9

In [137]:
# tuplas
nombres = ("Jhoan", "Juan", "Yolanda", "Kathe")
for index in range(len(nombres)):
    print(nombres[index])

Jhoan
Juan
Yolanda
Kathe

In [140]:
# tuplas o listas
nombres = ("Jhoan", "Juan", "Yolanda", "Kathe")
for index in nombres:
    print(index)
else: print("Ya no quedan más nombres")

Jhoan
Juan
Yolanda
Kathe
Ya no quedan más nombres

In [142]:
# diccionario
diccionario = {1:"Jhoan", 2:"Juan", 3:"Yolanda", 4:"Kathe"}
for clave, valor in diccionario.items():
     print(clave,":", valor)

1 : Jhoan
2 : Juan
3 : Yolanda
4 : Kathe

# Entrada de datos input()

In [144]:
print("*** Programa para sumar dos numeros****")
numero1 = int(input("Introduzca el primer numero: "))
numero2 = int(input("Introduzca el segundo numero: "))
total = numero1 + numero2
print("La suma de los numeroes", numero1, "y", numero2, "es:",total)

*** Programa para sumar dos numeros****
Introduzca el primer numero: 2
Introduzca el segundo numero: 3
La suma de los numeroes 2 y 3 es: 5

# Capturar errores try-except

In [149]:
# Ejemplo try-except
entero = input("Introduzca un numero entero: ")

try:
    entero = int(entero)
    print("En hora buena has ingresado un número entero: ", entero)
except ValueError:
    print("Error no has ingresado un número entero")

Introduzca un numero entero: 3
En hora buena has ingresado un número entero:  3

# Como pasar argumentos en línea de comandos argv

In [153]:
# argv
import sys
print("Todos los argumentos pasado en la línea de comandos:", sys.argv, "hola", "mundo")

Todos los argumentos pasado en la línea de comandos: ['C:\\Anaconda3\\lib\\site-packages\\ipykernel_launcher.py', '-f', 'C:\\Users\\Johan Ruiz\\AppData\\Roaming\\jupyter\\runtime\\kernel-7e8a9e9b-8caa-4c54-82f0-24d1a30c2d79.json'] hola mundo

# Funciones

In [170]:
# Ejemplo de función simple
def saluda():
    return "Hola mundo"
print(saluda())

Hola mundo

In [167]:
# Función sumar con argumentos 
def sumar(x, y):
    z = x + y
    return(z)

sumar(3, 4)

7

In [168]:
# Función restar con argumentos 
def restar(x, y):
    z = x - y
    return(z)

restar(4, 2)

2

In [169]:
# Función multiplicar con argumentos 
def multiplicar(x, y):
    z = x * y
    return(z)

multiplicar(4, 2)

8

In [172]:
# Función dividir con argumentos 
def dividir(x, y):
    z = x / y
    return(z)

dividir(4, 2)

2.0

In [173]:
# Función con argumentos 
def escribe(string):
    return string

escribe("Tutorial Python")

'Tutorial Python'

In [177]:
# Función dividir con argumento opcional
def dividir(x, y = 1):
    z = x / y
    return(z)

dividir(4, 3)

1.3333333333333333

In [183]:
# Función con argumento que es un array
def array(arr):
    resultado = ''
    for valor in arr:
        resultado += str(valor)
    return resultado

lista = [0, "Hola amigo","Python", "Mi casa"]
array(lista)

'0Hola amigoPythonMi casa'

In [184]:
# Función con tantos argumentos como necesitemos
def argumentos(*arg):
    for valor in arg:
        print(valor, end =" ")
        
argumentos(1,2,"hola", 3.15, "Mundo", "Python")

1 2 hola 3.15 Mundo Python

In [185]:
# lambda nos permite crear funciones con una sola instrucción
restar = lambda num1, num2: num1 - num2
restar(10, 5)

5

# Pogramación Orientada a Objetos

In [197]:
# Clases
class Persona():
    # Metodo constructor
    def __init__(self):
        
        # Propiedades privadas
        self.__nombre = 'Introduzca un nombre'
        self.__pais = 'Introduzca un pais'
        
        # Propiedad publica
        self.sexo = ['hombre','mujer']
    
    def nombre(self, nombre = ""):
        if(nombre != ""):
            return nombre
        else:
            return self.__nombre
    
    def pais(self, pais=""):
        if(pais != ""):
            return pais
        else: 
            return self.__pais
        
    def edad(self, edad = 0):
        return edad
    
    def estatura(self, estatura = 0):
        return estatura
    
    def peso(self, peso = 0):
        return peso

In [198]:
# creamos la clase persona
persona = Persona()

In [199]:
# LLamamos el método edad
persona.edad()

0

In [200]:
# llamamos el método nombre
persona.nombre("Carlos")

'Carlos'

In [201]:
# llamamos el método nombre
persona.nombre()

'Introduzca un nombre'

In [202]:
# Llamamos el método sexo
persona.sexo[0]

'hombre'

In [203]:
# Llamamos el método estatura
persona.estatura(180)

180

In [204]:
# Llamamos el método peso
persona.peso(70)

70

# Herencia de POO

In [206]:
class Deportista(Persona):
    
    def deporte(self, deporte):
        return deporte

    def detener(self):
        return "El deportista esta detenido"
    
    def correr(self):
        return "El deportista esta corriendo"
    
    def salta(self):
        return "El deportista esta saltando"
    
    def nadar(self):
        return "El deportista esta nadando"
    
    # Método privado
    #def __metodo(self):
    #    return "Privado"

In [207]:
# Clase deportista
deportista = Deportista()

In [209]:
# Llamamos el método nombre heredado de la clase persona
deportista.nombre("Jhoan")

'Jhoan'

In [210]:
# Llamamos el método edad heredado de la clase persona
deportista.edad(26)

26

In [212]:
# Llamamos el método nadar
deportista.nadar()

'El deportista esta nadando'

In [213]:
# Llamamos el método correr
deportista.correr()

'El deportista esta corriendo'

In [214]:
# Llamamos el método detener
deportista.detener()

'El deportista esta detenido'

In [215]:
# Llamamos el método saltar
deportista.salta()

'El deportista esta saltando'

# Funciones útiles para strings

In [217]:
# capitalize: convierte el primer carácter de un string en mayúscula
string = "hola Mundo"
print(string.capitalize())

Hola mundo

In [ ]:
# lower: convierte el string de mayuscula a minuscula
string = "HOLA MUNDO"
print(string.lower())

In [219]:
# upper: convierte el string de minuscula a mayuscula 
string = "hola mundo"
print(string.upper())

HOLA MUNDO

In [220]:
# len: obtiene la longitud de un string 
string = "hola mundo"
print("Función len:", len(string))

Función len: 10

In [224]:
# split: obtiene la longitud de un string 
string = "uno dos tres cuatro cinco"
lista = string.split(" ")
print(lista[0])
print("Función split:", string.split(" "))

uno
Función split: ['uno', 'dos', 'tres', 'cuatro', 'cinco']

In [225]:
# replace: reemplazar subcadenas .replace(old, new, max)
string = "test test test test"
print("Función replace:", string.replace("test", "Hola"))

Función replace: Hola Hola Hola Hola

In [226]:
# replace: reemplazar subcadenas .replace(old, new, max)
string = "test test test test"
print("Función replace:", string.replace("test", "Hola", 2))

Función replace: Hola Hola test test

In [227]:
# count: cuenta el numero de veces que aparece una subcadena
string = "hola nuevo mundo hola"
print("Función count:", string.count("hola", 0, len(string)))

Función count: 2

In [228]:
# lstrinp: eliminar los caracteres del principio de un string
string = "*************python es el mejor"
print("Función lstrip:", string.lstrip("*"))

Función lstrip: python es el mejor

In [230]:
# rstrinp: eliminar los caracteres del final de un string
string = "python es el mejor-----"
print("Función rstrip:", string.rstrip("-"))

Función rstrip: python es el mejor

In [232]:
# find: posición index de la primera posición de una subcadena
string = "Hola mundo python"
print("Función find:", string.find("mundo", 0, len(string)))

Función find: 5

In [234]:
# rfind: posición index de la primea posición de una subcadena de derecha a izquierda
string = "Hola mundo mundo python"
print("Función rfind:", string.rfind("mundo", 0, len(string)))

Función rfind: 11

In [235]:
# isdigit: regresa un valor booleano, true si el string contiene digitos
string ="01234540928457035"
if(string.isdigit()):
    print("El string", string, "contiene digitos")
else: 
    print("El string", string, "no contiene digitos")

El string 01234540928457035 contiene digitos

In [238]:
# join: convierte un array en un string a traves del separador indicado
separador = "-"
lista = ["uno", "dos", "tres", "cuatro"]
print("Función join:", separador.join(lista))

Función join: uno-dos-tres-cuatro

# Funciones útilies para arrays

In [239]:
# len(array): regresa el numero de elementos en arrays: listas, tuplas, diccionarios
diccionario = {"uno":1, "dos":2, "tres":3}
print("Numero de elementos del diccionario:", len(diccionario))

Numero de elementos del diccionario: 3

In [241]:
# append(valor): agrega un nuevo elemento al final de un array lista con el valor dado
lista = ["uno",1, "dos",2, "tres",3]
lista.append("cuatro")
print("Nuevo elemento en la lista:", lista)

Nuevo elemento en la lista: ['uno', 1, 'dos', 2, 'tres', 3, 'cuatro']

In [243]:
# insert(x, valor): inserta el valor antes de la posición index x dada, solo valida para array listas
lista = ["uno", "dos", "tres"]
lista.insert(0,"cuatro")
print("Nuevo elemento al principio de la lista:", lista)

Nuevo elemento al principio de la lista: ['cuatro', 'uno', 'dos', 'tres']

In [5]:
# pop(x): eliminar del array el elemento a traves del index x indicado, solo valido para array lista
lista = ["uno", "dos", "tres", "cuatro"]
print("Eliminar el primer elemento de la lista:", lista.pop(0), lista)

Eliminar el primer elemento de la lista: uno ['dos', 'tres', 'cuatro']

In [7]:
# index(valor): busca el valor indicado en los arrays lista o tuplas y regresa el index de la primera ocurrencia encontrada, 
# buscando desde el inicio del array hasta el final
tupla = ("mundo", "python", "python", "mundo")
print("Primera posición index del valor seleccionado:", tupla.index("python"))
print("Primera posición index del valor seleccionado:", tupla.index("mundo"))

Primera posición index del valor seleccionado: 1
Primera posición index del valor seleccionado: 0

In [9]:
# remove(valor): busca la primera ocurrencia del valor dado y lo elimina, solo valido para array lista
lista = ["Argentina", "Peru", "Colombia", "Cuba", "EEUU"]
print("Eliminar la primera ocurrencia del valor dado en una lista:", lista.remove("EEUU"), lista)

Eliminar la primera ocurrencia del valor dado en una lista: None ['Argentina', 'Peru', 'Colombia', 'Cuba']

In [10]:
# count(valor): busca el numero de veces que aparece el valor dado en los arrays lista y tuplas 
lista = ("uno", "dos", "tres", "uno")
print("Numero de elementos con el valor uno que aparecen en la tupla:", lista.count("uno"), lista)

Numero de elementos con el valor uno que aparecen en la tupla: 2 ('uno', 'dos', 'tres', 'uno')

# Leer y escribir ficheros

In [ ]:
# Leer y escribir ficheros
# Modos:
# w: escritura, crear el fichero si no existe, si existe reemplaza el contenido anterior por el nuevo contenido.
# a: escritura, crear el fichero si no existe, si existe agrega el nuevo contenido al final del contenido ya existente.
# r: lectura de ficheros

In [13]:
# Creamos el manejador para crear un archivo HTML
manejador = open("index.html", "a")

html = "<!DOCTYPE HTML>\n"
html += "<html>\n"
html += "<head>\n"
html += "<title>Hola Mundo</title>\n"
html += "</head>\n"
html += "<body>\n"
html += "<h1>Hola Mundo</h1>\n"
html += "</body>\n"
html += "</html>\n"

# Escribimos en el fichero
manejador.write(html)

manejador.close()

print("*** Documento HTML creado con exito ***")

*** Documento HTML creado con exito ***

In [14]:
# Creamos el manejador para crear un archivo HTML
manejador = open("index.html", "w")

html = "<!DOCTYPE HTML>\n"
html += "<html>\n"
html += "<head>\n"
html += "<title>Hola Mundo</title>\n"
html += "</head>\n"
html += "<body>\n"
html += "<h1>Hola Mundo</h1>\n"
html += "</body>\n"
html += "</html>\n"

# Escribimos en el fichero
manejador.write(html)

manejador.close()

print("*** Documento HTML creado con exito ***")

*** Documento HTML creado con exito ***

In [15]:
# Creamos el manejador para crear un archivo HTML
manejador = open("index.html", "r")
contenido = manejador.read()
print(contenido)
manejador.close()

print("*** Ahora leemo el archivo con la función read() ***")

<!DOCTYPE HTML>
<html>
<head>
<title>Hola Mundo</title>
</head>
<body>
<h1>Hola Mundo</h1>
</body>
</html>

*** Ahora leemo el archivo con la función read() ***

In [16]:
print("*** Leer el fichero línea por línea a traves de un bucle for ***")

manejador = open("index.html","r")
for linea in manejador:
    print(linea, end ="")
manejador.close()

*** Leer el fichero línea por línea a traves de un bucle for ***
<!DOCTYPE HTML>
<html>
<head>
<title>Hola Mundo</title>
</head>
<body>
<h1>Hola Mundo</h1>
</body>
</html>

# Módulo datetime fecha y hora

## Objeto DATE

In [33]:
import datetime

### Objeto date
# Fecha actual
print("Fecha actual:", datetime.date.today())
# Día del mes actual
print("Día del mes:", datetime.date.today().day)
# Mes del año
print("Mes del año:", datetime.date.today().month)
# Año
print("Año:", datetime.date.today().year)
# Día de la semana
print("Día de la semana:", datetime.date.today().weekday())

Fecha actual: 2018-05-31
Día del mes: 31
Mes del año: 5
Año: 2018
Día de la semana: 3

In [34]:
# Objeto date
mes = {1:"Enero", 2:"Febrero", 3:"Marzo", 4:"Abril", 5:"Mayo", 6:"Junio", 7:"Julio", 8:"Agosto",
      9:"Septiembre", 10:"Octubre", 11:"Noviembre", 12:"Diciembre"}
dia_semana = {0:"Lunes", 1:"Martes", 2:"Miércoles", 3:"Jueves", 4:"Viernes", 5:"Sábado", 6:"Domingo"}
fecha = "Hoy " + dia_semana[datetime.date.today().weekday()] +" "+ str(datetime.date.today().day) + " de " + mes[datetime.date.today().month] + " del " + str(datetime.date.today().year)

print("Fecha actual:", fecha)

Fecha actual: Hoy Jueves 31 de Mayo del 2018

## Objeto DATETIME

In [44]:
# Fecha y hora actual
print("Fecha y hora actual:", datetime.datetime.now())
# Segundos actuales
print("Segundos actuales:", datetime.datetime.now().second)
# Minutos actuales
print("Minutos actuales:", datetime.datetime.now().minute)
# Hora actual
print("Hora actual:", datetime.datetime.now().hour)
# Microsegundos actuales
print("Microsegundos actuales:", datetime.datetime.now().microsecond)

Fecha y hora actual: 2018-05-31 10:45:58.579527
Segundos actuales: 58
Minutos actuales: 45
Hora actual: 10
Microsegundos actuales: 580029

In [ ]:
# Fecha
# %Y : año con 4 digitos
# %m : mes con dos digitos
# %d : día con dos digitos

# Hora
# %H : Hora con formato 24 horas y dos digitos
# %M : Minutos actuales con dos digitos
# %S : Segundos actuales con dos digitos

In [45]:
# Ejemplo
print("", datetime.datetime.now().strftime("%d-%m-%Y"))

 31-05-2018